extends ../layouts/main

block content
  main.container
    h1 Admin Dashboard
    p.muted Gestão e controlo do sistema (utilizadores, serviços e reservas).

    .card
      h2 Atalhos
      ul
        li: a(href="/admin/users") 
        li: a(href="/admin/services") 
        li: a(href="/admin/bookings") 

    .card
      h2 Ações rápidas
      p
        a.btn(href="/services") Ver página pública de serviços
        |  
        a.btn(href="/profile") Ir para Perfil
      p
        button.btn.btn-danger(type="button" data-logout) Logout

block scripts
  script(type="module" src="/js/admin.guard.js")



