nav.navbar
  a.brand(href="/") Relax Zone
  ul.nav-links
    li
      a(href="/services") Services
    li
      a(href="/login") Login
    li
      a(href="/register") Register
    li
      a(href="/profile") Profile
    li
      a(href="/admin") Admin
